In [6]:
import numpy as np
import requests
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import MetaTrader5 as mt5
import pandas as pd
from datetime import datetime

In [3]:
# A function to to connect and pull data from the metatrader apr
def get_data(symbol):
    # Getting data on the 1 hour timeframe
    if not mt5.initialize():
        print("initialize() failed, error code =",mt5.last_error())
        quit()
    # set the symbol and timefram
    timeframe = mt5.TIMEFRAME_H1   # for one-hour bars
    #dates for retrieving the history
    date_from = datetime(2015, 12, 15)
    today = datetime.today()
    # get the history
    history = mt5.copy_rates_range(symbol, timeframe, date_from, today)
    if history is not None and len(history) > 0:
        # create DataFrame out of the obtained data
        rates_frame = pd.DataFrame(history).drop(['spread','real_volume'], axis =1)
        # convert time in seconds into the datetime format
        rates_frame['time'] = pd.to_datetime(rates_frame['time'], unit='s')
    else:
        print("No data for the requested period")
    # terminate the connection to the MetaTrader 5 terminal
    mt5.shutdown()
    data = rates_frame

    return data

data = get_data('XAUUSDm')
data

                     time      open      high       low     close  tick_volume
0     2015-12-15 00:00:00  1061.443  1068.452  1058.561  1061.171        67849
1     2015-12-16 00:00:00  1061.169  1078.206  1061.164  1069.382       113903
2     2015-12-17 00:00:00  1069.377  1072.797  1047.593  1052.861       121923
3     2015-12-18 00:00:00  1052.877  1071.387  1051.152  1066.103       116448
4     2015-12-20 00:00:00  1065.888  1066.303  1064.224  1065.131         2295
...                   ...       ...       ...       ...       ...          ...
45811 2024-11-13 03:00:00  2612.055  2613.333  2606.419  2611.579         6607
45812 2024-11-13 04:00:00  2611.535  2612.405  2606.044  2606.219         5345
45813 2024-11-13 05:00:00  2606.279  2607.948  2603.490  2605.794         6602
45814 2024-11-13 06:00:00  2605.768  2607.461  2604.181  2605.434         6961
45815 2024-11-13 07:00:00  2605.394  2606.166  2604.620  2606.166          493

[45816 rows x 6 columns]

In [4]:
data.to_csv('price_data')

In [14]:
def get_fred_data(api_key, series_id, start_date="2000-01-01"):
    """
    Fetches monthly economic data from FRED.
    
    Parameters:
        api_key (str): Your FRED API key.
        series_id (str): The FRED series ID for the desired economic indicator.
        start_date (str): The start date for data in "YYYY-MM-DD" format.
        
    Returns:
        pd.DataFrame: A DataFrame with the date as the index and the series data.
    """
    url = f"https://api.stlouisfed.org/fred/series/observations"
    params = {
        "series_id": series_id,
        "api_key": api_key,
        "file_type": "json",
        "frequency": "m",  # monthly frequency
        "observation_start": start_date
    }
    response = requests.get(url, params=params)
    data = response.json()
    
    if "observations" not in data:
        print(f"Error fetching data for series {series_id}.")
        return pd.DataFrame()
    
    # Convert the observations into a DataFrame
    df = pd.DataFrame(data["observations"])
    df['date'] = pd.to_datetime(df['date'])
    df = df.set_index("date")
    df = df[["value"]]
    df.columns = [series_id]
    df[series_id] = pd.to_numeric(df[series_id], errors='coerce')
    
    # Add a "previous" column by shifting the actual values
    df[f"{series_id}_previous"] = df[series_id].shift(1)
    
    return df
    
# Define your FRED API key
fred_api_key = "7580ed8bbc13d1a99d0bc31da5870a8d"

# Fetch data for Unemployment rate and NFP (Non-Farm Payroll)
nfp_data = get_fred_data(fred_api_key, series_id="PAYEMS")
unemployment_data = get_fred_data(fred_api_key, series_id="UNRATE")

***Data from forexfactory***

In [13]:
# non_farm_payroll = pd.read_csv('non_farm_payroll.csv')
non_farm_payroll = pd.read_csv('non_farm_payroll.csv', encoding='iso-8859-1')
unempployment_rate = pd.read_csv('US_unemployment_rate.csv', encoding='iso-8859-1')
non_farm_payroll

    Expected Impact / Date Actual Forecast Previous
0             Â Nov 1, 2024    12K     106K     223K
1             Â Oct 4, 2024   254K     147K     159K
2             Â Sep 6, 2024   142K     164K      89K
3             Â Aug 2, 2024   114K     176K     179K
4             Â Jul 5, 2024   206K     191K     218K
..                     ...    ...      ...      ...
210           Â May 4, 2007    88K     107K     177K
211           Â Apr 6, 2007   180K     135K     113K
212           Â Mar 9, 2007    97K     100K     146K
213           Â Feb 2, 2007   111K     146K     206K
214           Â Jan 5, 2007   167K     115K     132K

[215 rows x 4 columns]

In [14]:
unempployment_rate

    Expected Impact / Date Actual Forecast Previous
0             Â Nov 1, 2024  4.10%    4.10%    4.10%
1             Â Oct 4, 2024  4.10%    4.20%    4.20%
2             Â Sep 6, 2024  4.20%    4.20%    4.30%
3             Â Aug 2, 2024  4.30%    4.10%    4.10%
4             Â Jul 5, 2024  4.10%    4.00%    4.00%
..                     ...    ...      ...      ...
210           Â May 4, 2007  4.50%    4.50%    4.40%
211           Â Apr 6, 2007  4.40%    4.60%    4.50%
212           Â Mar 9, 2007  4.50%    4.60%    4.60%
213           Â Feb 2, 2007  4.60%    4.50%    4.50%
214           Â Jan 5, 2007  4.50%    4.50%    4.50%

[215 rows x 4 columns]